<div class="text-layout">
  <h1>decimalPipe y Porcentaje</h1>
  <p>Pipes Incluidos en Angular - Usualmente en el CommonModule</p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="Ventas netas" subheader="del año actual">
      <i class="pi pi-dollar"></i>
      {{ ventasNetas + 1000000 | number: "1.2-2":"es-AR" }}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="Ventas brutas" subheader="del año actual">
      {{ ventasNetas + 2000000 | currency: "USD":"symbol-narrow" }}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="Ganancia porcentual" subheader="del año actual">
      {{ porcentaje | percent: "1.2-2" }}
    </p-card>
  </div>
</div>
