<div class="text-layout mb-4">
  <h1>Pipes Personalizados</h1>
  <p>
    Pipes creados por
    {{ "nosotros" | mayusculas: enMayusculas }}
  </p>
</div>

<p-toolbar>
  <div class="p-toolbar-group-left">
    <button
      pButton
      class="p-button-sm p-button-help mr-1"
      label="Toggle Mayúsculas"
      (click)="toggle()"
    ></button>
  </div>

  <div class="p-toolbar-group-right">
    <button
      pButton
      icon="pi pi-sort"
      class="mr-1 p-button-sm p-button-success"
      label="Por nombre"
      (click)="cambiarOrden('nombre')"
    ></button>

    <button
      pButton
      icon="pi pi-sort"
      class="mr-1 p-button-sm p-button-success"
      label="Vuela"
      (click)="cambiarOrden('vuela')"
    ></button>

    <button
      pButton
      icon="pi pi-sort"
      class="mr-1 p-button-sm p-button-success"
      label="Por color"
      (click)="cambiarOrden('color')"
    ></button>
  </div>
</p-toolbar>

<div class="p-grid">
  <div class="col">
    <p-table [value]="heroes | ordenar: ordenarPor" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Vuela</th>
          <th>Color</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-heroe>
        <tr>
          <td>{{ heroe.nombre }}</td>
          <td>{{ heroe.vuela | vuela | titlecase }}</td>
          <td>{{ heroe.color }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="text-layout">
  <h3>Tabla Prime NG</h3>
</div>

<div class="p-grid">
  <div class="col">
    <p-table [value]="heroes | slice: 0" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nombre">
            Nombre <p-sortIcon field="nombre"></p-sortIcon>
          </th>
          <th pSortableColumn="vuela">
            Vuela <p-sortIcon field="vuela"></p-sortIcon>
          </th>
          <th pSortableColumn="color">
            Color <p-sortIcon field="color"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-heroe>
        <tr>
          <td>{{ heroe.nombre }}</td>
          <td>{{ heroe.vuela | vuela | titlecase }}</td>
          <td>{{ heroe.color }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
